<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Training</title>
  <link rel="stylesheet" href="capacity.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
</head>
<body>

<div class="container">
  <div class="header">
    <h1>Training</h1>
  </div>
  <div class="content">
    <div class="text">
      <h2>Access training materials securely from anywhere!</h2>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste voluptatum deserunt hic quas natus accusantium eveniet consequuntur provident nobis cupiditate eum sit modi magni iusto possimus eos laboriosam molestiae, est iure. Qui, quibusdam odit praesentium voluptate ea tenetur iusto, ex vel natus nemo enim ipsam consequuntur excepturi molestiae est rerum velit, neque eaque error nobis hic tempora. Voluptas dignissimos, odio quam velit obcaecati iste magnam eum? Maxime odio pariatur, magnam veniam in distinctio? Quam, earum ipsa? Optio reiciendis voluptatibus est earum quia fuga beatae, eum sed eligendi, nobis aspernatur error vitae quidem. Aliquam molestias dolorem nobis temporibus explicabo iure est!</p>
    </div>
    <div class="image">
      <i class="fa-solid fa-book-open"></i>
    </div>
  </div>
  <div class="footer">
    <div class="footer-item">
      <a href="/downloadpdf"><h3>FAQ</h3></a>
    </div>
    <div class="footer-item">
      <a href=""><h3>Weekly Programmes</h3></a>
    </div>
    <div class="footer-item">
      <a href=""><h3>Training Calendar</h3></a>
    </div>
    <div class="footer-item">
      <a href=""><h3>Support</h3></a>
    </div>
  </div>
</div>

</body>
</html>
